@layer tailwind-base, primereact, tailwind-utilities;

@import "primereact/resources/themes/mdc-dark-indigo/theme.css";

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  background-color: var(--surface-ground);
}

main {
  margin: 0 auto;
  max-width: 1280px;
}

nav {
  @apply sticky mb-8 mx-2;
}

.p-float-label > .p-inputtext {
  @apply w-full;
}

.error {
  @apply text-red-300;
}

.field:has(.error:not(:empty)) .p-component {
  @apply border-red-300;
}
